<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Workspace/RestAPI/src/test/java/ReqresTest.java">
        <classes>
            <class name="ReqresTest"></class>
        </classes>
    </test>
</suite>